<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find trobo_control)/config/trobo_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="trobo_control" pkg="trobo_control" type="trobo_control" output="screen" ns="/trobo"/>
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/trobo" args="joint_state_controller
					  joint1_position_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/trobo/joint_states" />
  </node>

</launch>
